body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: scroll;
}

.container {
    display: flex;
}

.header, .footer {
    height: 72px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
}

.header {
    justify-content: space-between;
    padding: 16px 150px;   
    gap: 128px; 
    /* padding-bottom: 64px; */
}

.footer {
    border-radius: 10px;
}

.header, .main > .banner {
    background-color: #1f2937;
    color: white;
}

.banner {
    justify-content: space-between;
    padding: 64px 150px;
    gap: 128px;
}

.bottom > .container.banner {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
}

.container.bottom {
    justify-content: center;
}

.middle {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.cards {
    display: flex;
    gap: 64px;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.quoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b9c8e6;
    flex: 1;
}

.quotes {
    display: flex;
    flex-direction: column;
}

.quote {
    font-weight: 100;
    font-style: italic;
    max-width: 800px;
}

.quote, .quotee {
    font-size: 36px;
    color: #1f2937;
}

.quotee {
    align-self: flex-end;
    font-weight: 800;
}

.middle, .quoteContainer, .bottom {
    padding: 64px 32px;
}

.leftSide {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    max-width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #3882f6;
    padding: 8px;
    color: white;
    size: 16px;
    font-weight: 800;
}

.rightSide > button {
    border: white 1px solid;
    align-self: flex-end;
}



.mainText {
    font-size: 48px;
    font-weight: 900;
}

.main {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
}

img {
    max-width: 300px;
}

.card > img {
    max-width: 200px;
}